* {
	margin: 0;
	padding: 0;
}

.jumbotron {
	color: white;
	background: url('/assets/vegetables.jpg') rgba(41, 41, 41, 0.5);
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 90vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 0;
	padding-left: 14vw;
	padding-right: 14vw;

	.section-title {
		align-self: flex-start;
		margin-left: 4vw;
		text-align: left;
		font-size: 6ch;
		max-width: 250px;
		white-space: wrap;
		margin-bottom: 18vh;

		span {
			font-style: italic;
			font-weight: 300;
			padding-left: 4rem;
		}
	}
}

.card {
	min-width: 300px;
}

.center-buttons {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;

	a {
		margin: 1rem;
	}
}

.nav-button {
	border: 0px;

	::active {
		border: none;
	}

	::focus {
		border: none;
	}
}
